
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <ul>
        <li class="text-black-50">@Html.ActionLink("Departman", "Index", "Departman")</li>
        <li>@Html.ActionLink("Calısan","Index","Calısan")</li>
        <li><a href="/Login/Ekle">Kayıt Olmak</a></li>
        <li><a href="/login/Index">Kullanıcı Listesi</a></li>
    </ul>

</head>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    .nav li {
        display: inline-block;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
    }
</style>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
